* {
    box-sizing: border-box;
}

body {
    width: 793px;
    margin: 0 auto;
    line-height: 1.6;
    
}

header{
    margin-bottom: 50px;
}

img {
    width: 100px;
    height: 120px;
    position: relative;
    top: 80px;
    padding: 2px;
    margin-left: 40px;
    border: 1px solid;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 2px;
    border: 1px solid;
}

ul{
    list-style-type: none;
}

p{
    padding-left: 40px;
}

.com_decoracao{
    list-style-type: circle;
}

footer{
    text-align: center;
    margin-top: 100px;
    padding: 5px;
    background: rgb(189, 187, 187);
}